
.company-logo {
  height: 30px;
  width: 150px;
  margin-top: -5px;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important;
}

.nav {
  background-color: white;
  border-radius: 0;
  border-color: white ;
  margin: 0 0 0 0;

}
.nav-menu{
  background-color: white !important;
  border-color: white !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(0,0,0,.2) !important;
}
.logo-a {
  color: #026402;
  font-family: Muli;
}
.logo-b {
  color: #02b906;
  font-family: Muli;
}
.logo-c {
  color: #979797;
  font-family: Muli;
}
.link {
  color: black;
  font-size: 18px;
  font-family: Pavanam;
}
.link:hover {
  color: #3614CC;
  text-decoration: none;
}
.link:active {
  color: #3614CC;
}
a:focus {
  color: #3614CC;
  text-decoration: none;
}
.nav-li {
  margin: 10px 0 10px 0;
}
.navbar-toggle {
  color: red;
}

@media screen and (min-width: 500px) {
  .logo-a, .logo-b, .logo-c {
    font-size: 30px;
    margin: 20px 0 0 0;
  }
  .navbar-brand {
    margin: 10px 0 0 0;
  }
  .company-logo {
    height: 50px;
    width: 170px;
    margin-top: -12px;
  }
}
@media screen and (max-wiidth: 992px) {
  .navbar-right {
    display: none!important;
  }
}
